In [42]:
import os
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

In [43]:
%matplotlib inline

In [53]:
def fill_intervales(data0):
    data = np.copy(data0)
    prev = np.nan
    for i in range(data.shape[0]):
        if ~np.isnan(data[i]):
            prev = data[i]
        else:
            data[i] = prev

    return data

In [54]:
fname = os.path.abspath("../data/well_logs_v2.csv")

In [60]:
df = pd.read_csv(fname)
df.tail()

,UWI,Depth,FACIES,CAL,CASING,CORE,DRHO,DTC,DTS,GR,NPHI,PEF,POTA,RCA,RESD,RESM,RESS,RFT,RHOB
127038,Poseidon 1,5117.267744,NaN,NaN,NaN,NaN,0.379274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.277701,43.094831,69.914113,NaN,NaN
127039,Poseidon 1,5117.420088,NaN,NaN,NaN,NaN,0.379274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.408690,42.609451,66.494628,NaN,NaN
127040,Poseidon 1,5117.572432,NaN,NaN,NaN,NaN,0.379274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.456802,43.657302,65.251187,NaN,NaN
127041,Poseidon 1,5117.724775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127042,Poseidon 1,5117.877119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [61]:
facies = fill_intervales(df.FACIES.values)
facies[facies == -999] = np.nan
df["FACIES"] = facies
df.tail()

,UWI,Depth,FACIES,CAL,CASING,CORE,DRHO,DTC,DTS,GR,NPHI,PEF,POTA,RCA,RESD,RESM,RESS,RFT,RHOB
127038,Poseidon 1,5117.267744,NaN,NaN,NaN,NaN,0.379274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,29.277701,43.094831,69.914113,NaN,NaN
127039,Poseidon 1,5117.420088,NaN,NaN,NaN,NaN,0.379274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.408690,42.609451,66.494628,NaN,NaN
127040,Poseidon 1,5117.572432,NaN,NaN,NaN,NaN,0.379274,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.456802,43.657302,65.251187,NaN,NaN
127041,Poseidon 1,5117.724775,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127042,Poseidon 1,5117.877119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [62]:
df.to_csv("../data/well_logs_v2_filled.csv")